<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./style-dark.css">
</head>

<body>
    <div class="container">
        <div class="episode-header">
            <span class="episode-image"
                style="background-image: url(https://images-na.ssl-images-amazon.com/images/I/81WjGytz7HL._SY445_.jpg);">
            </span>
            <span class="episode-title">
                <h1>Star Wars: The last jedi</h1>
                <h3>Attack of the clones</h3>
            </span>
        </div>
        <div class="episode-summary">
            A summary will also be present. Usually two to three brief sentences about the content on the detail
            page. A summary will also be present. Usually two to three brief sentences about the content on the
            detail... A summary will also be present. Usually two to three brief sentences about the content on the
            detail
            page. A summary will also be present. Usually two to three brief sentences about the content on the
            detail...
            <div class="details-label">Director:
                <span class="details-value">
                    George Lucas
                </span>
            </div>
            <div class="details-label">Release Date:
                <span class="details-value">
                    1995-05-19
                </span>
            </div>
        </div>
        <div class="episode-people">
            <div class="cards">
                <a class="card" href="javascript:;">
                    <span class="card-header"
                        style="background-image: url(https://quintessentialldr.files.wordpress.com/2012/12/anakin-skywalker-before-darth-vader.jpg);">
                    </span>
                    <span class="card-title">
                        <h5>Anakin Skywalker</h5>
                    </span>
                </a>
                <a class="card" href="javascript:;">
                    <span class="card-header"
                        style="background-image: url(https://media.contentapi.ea.com/content/dam/star-wars-battlefront-2/images/2019/08/swbf2-refresh-hero-large-heroes-page-yoda-16x9-xl.jpg.adapt.crop1x1.320w.jpg);">
                    </span>
                    <span class="card-title">
                        <h5>Yoda</h5>
                    </span>
                </a>
                <a class="card" href="javascript:;">
                    <span class="card-header"
                        style="background-image: url(https://quintessentialldr.files.wordpress.com/2012/12/anakin-skywalker-before-darth-vader.jpg);">
                    </span>
                    <span class="card-title">
                        <h5>Anakin Skywalker</h5>
                    </span>
                </a>
                <a class="card" href="javascript:;">
                    <span class="card-header"
                        style="background-image: url(https://quintessentialldr.files.wordpress.com/2012/12/anakin-skywalker-before-darth-vader.jpg);">
                    </span>
                    <span class="card-title">
                        <h5>Anakin Skywalker</h5>
                    </span>
                </a>
                <a class="card" href="javascript:;">
                    <span class="card-header"
                        style="background-image: url(https://quintessentialldr.files.wordpress.com/2012/12/anakin-skywalker-before-darth-vader.jpg);">
                    </span>
                    <span class="card-title">
                        <h5>Anakin Skywalker</h5>
                    </span>
                </a>
                <a class="card" href="javascript:;">
                    <span class="card-header"
                        style="background-image: url(https://quintessentialldr.files.wordpress.com/2012/12/anakin-skywalker-before-darth-vader.jpg);">
                    </span>
                    <span class="card-title">
                        <h5>Anakin Skywalker</h5>
                    </span>
                </a>
                <a class="card" href="javascript:;">
                    <span class="card-header"
                        style="background-image: url(https://quintessentialldr.files.wordpress.com/2012/12/anakin-skywalker-before-darth-vader.jpg);">
                    </span>
                    <span class="card-title">
                        <h5>Anakin Skywalker</h5>
                    </span>
                </a>
            </div>
        </div>
    </div>
    <div class="more-items">
        <button type="submit"><b>Load More</b></button>
    </div>
</body>

</html>