<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./style-dark.css">
</head>

<body>
    <main>
        <div class="login-container">
            <div class="title">
                SWAPP
            </div>
            <div class="form-container">
                <form>
                    <div class="warning">Invalid Credentials!</div>
                    <input class="form-row form-input" type="text" placeholder="email" />
                    <input class="form-row form-input" type="password" placeholder="password" />
                    <button class="form-row form-button" type="submit"><b>Login</b></button>
                </form>
            </div>
        </div>
    </main>
</body>

</html>