@import '../intro/layout.css';

body {
    background: #E8EAED;
    color: #4E5B6E;
    font-family: sf-distant-galaxy;
}

.container {
    max-width: 90rem;
    margin: 0 auto;
    transition-property: background-color, border-color, box-shadow, color, opacity, text-shadow, transform;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2em;
    padding: 2em;
    box-sizing: border-box;
}

.card {
    position: relative;
    margin-bottom: 2em;
    padding-bottom: 2em;
    color: #4E5B6E;
    background: #FFF;
    border-color: #E5E9F2;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
    border-radius: 5px;
}

.card span {
    display: block;
}

.card .card-summary {
    padding: 1em;
}

.card .card-header {
    position: relative;
    height: 20em;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.15);
    background-blend-mode: overlay;
    border-radius: 5px 5px 0 0;
}

.card .card-title {
    padding-top: 1em;
    width: 100%;
}

.card .card-title h3 {
    color: #4BD5EE;
    font-size: 1.2em;
    line-height: 1.2;
    padding: 0 1em;
    margin: 0;
}

.card .card-meta {
    max-height: 0;
    overflow: hidden;
    color: #3C4858;
    font-size: .78em;
    text-transform: uppercase;
    position: absolute;
    bottom: 5%;
    padding: 0 5%;
    transition-property: max-height;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
}

.card:hover,
.card:focus {
    box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 20px 0px;
}

.card:hover .card-meta,
.card:focus .card-meta {
    max-height: 1em;
}

img {
    max-width: 100%;
}


@media (max-width: 700px) {
    .card {
        width: 25em;
    }
}

@media (min-width: 700px) {
    .card {
        max-width: 15em;
        margin-right: 3em;
        margin-bottom: 3em;
    }

    .card:nth-child(even) {
        margin-left: 1.5em;
        margin-right: 1.5em;
    }

    .card:nth-child(odd) {
        margin-left: 1.5em;
        margin-right: 1.5em;
    }
}

@media (min-width: 980px) {
    .card:nth-child(even) {
        margin-left: 5em;
        margin-right: 5em;
    }

    .card:nth-child(odd) {
        margin-left: 5em;
        margin-right: 5em;
    }
}