@import '../intro/layout.css';

body{
    background: #E8EAED;
    color: #4E5B6E;
    font-family: sf-distant-galaxy;
}

header {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.container {
    display: flex;
    align-items: center;
    border-color: #333;
    background: #000;
}

.logo {
    flex: 4;
    padding: 0 2em;
}

.logo > a h1 {
    display: inline-block;
}

.titles {
    flex: 2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo > a {
    text-decoration: none;
    color: #FFE300;
}

.item > a {
    width: 100%;
    height: auto;
    color: #4BD5EE;
    text-decoration: none;
}

.exit-container {
    display: block;
    content: '';
    background: #E8EAED;
    border-radius: 5px;
}

.exit-button {
    width: 25px;
    height: 25px;
    background-image: url(./logout.png);
    background-position: center;
    background-repeat: no-repeat;
}