@import '../intro/layout.css';

body {
    background: #E8EAED;
    color: #4E5B6E;
    font-family: sf-distant-galaxy;
}

.container {
    max-width: 60rem;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
}

.person {
    flex: 3;
    display: block;
    content: '';
    background: #333;
    border-color: #3C4858;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
    border-radius: 5px;
    margin-top: 2em;
}

.title {
    display: flex;
    justify-content: center;
}

.title h1, .title h3 {
    color: #4BD5EE;    
}

.media {
    background: #666;
    width: 25vw;
    position: relative;
    overflow: hidden; 
    margin: 1em auto;   
}

.media:before,
.media:after {
    display: block;
    content: '';
}

.media:before {
    padding-top: 100%;
}

.media:after {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    transition: opacity 0.2s ease-in; 
}

.media img {
    display: block;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

.media img {
    width: 100%;
    height: auto;
}

.details-label, 
.ships h1 {
    color: #ABB1BA;
}

.details-value {
    color: #4BD5EE;
}

.details {
    margin: 1em 3em;
}

.ships {
    flex: 3;
    display: block;
    content: '';
    border-color: #3C4858;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 2em;
}

hr {
    color: #ABB1BA;
    background: #ABB1BA; 
    width: 80%; 
}

.episode-people {
    display: flex;
    flex-flow: column nowrap;
}

.cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    box-sizing: border-box;
}

.card {
    display: flex;
    position: relative;
    margin-bottom: 1em;
    color: #ABB1BA;
    background: #FFF;
    border-color: #FFF;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.19) 0 0 8px 0;
    border-radius: 5px;
}

.card span {
    display: block;
}

.card .card-header {
    position: relative;
    height: 5em;
    width: 5em;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.15);
    background-blend-mode: overlay;
    border-radius: 5px 0 0 5px;
}

.card .card-title {
    padding-top: 1.5em;
    width: 100%;
}

.card .card-title h5 {
    color: #4BD5EE;
    font-size: 1.2em;
    line-height: 1.2;
    padding: 0 1em;
    margin: 0;
}

img {
    max-width: 100%;
}

@media (max-width: 700px) {
    .media {
        width: 70vw;
    }

    .container, .ships {
        max-width: 90vw;
    }

    .card {
        width: 25em;
    }
}

@media (min-width: 700px) {
    .card {
        width: 21em;
    }
}

@media (min-width: 980px) {
    .card {
        width: 25em;
    }
}